<p appAttibuteDirective>home works!</p>
<h1 *appUnless="false"> {{'this is visible' | capitalize}} </h1>
<p *ngIf="false"> Current Status: {{status[currentStatus]}} </p>
<!-- <p *ngIf="user; else loginPrompt">Hello, {{ user.name }}</p>
<ng-template #loginPrompt>
  <p>Please log in</p>
</ng-template> -->
<h1 *showIfTrue="true">testing show if true directive</h1>
<h1 *showIfTrue="false">testing show if true directive</h1>



<h1>dropdown</h1>
<p>{{ searchText }}</p>
<input type="text" [(ngModel)]="searchText" (input)="onSearchItem()" />
<ul *ngIf="searchText" (click)="selectedItem($event)">
  @for (item of filteredDropdownElements; track item.id) {
  <li>{{ item.name }}</li>
  }
</ul>
